:root {
  --margin-standard-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffac1e; /* rgb(255, 172, 30) */
}

/*.container-fluid {
     margin: var(--margin-standard-size) auto;
} */

/*nav.navbar {
    padding: 0.5rem 2rem;
}
 .bg-light {
    background-color: rgba(116, 83, 27, 0.432) !important;
}
.bg-darky {
    background-color: rgba(116, 83, 27, 0.432);
} */

nav div.navbarNav {
  display: flex;
  justify-content: flex-end;
}

.container-fluid .card {
  /* margin-top: var(--margin-standard-size); */
  margin-top: 130px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 15px 30px;
  background-color: bisque;
  z-index: 1050;
}
nav.sticky {
  padding: 5px 30px;
  background-color: rgb(179, 139, 71);
}

nav .logo {
  position: relative;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

nav ul li a {
  color: #9c9c9c;
}
nav.sticky ul li a {
  color: #cfcfcf;
}

nav .logo img,
nav.sticky .logo img {
  transition: 50s;
}
nav.sticky .logo img {
  width: 300px;
}

nav ul li a,
nav ul li a:hover,
nav.sticky ul li a,
nav.sticky ul li a:hover {
  text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
  color: #774e54;
}
nav.sticky ul li a.active,
nav.sticky ul li a:hover {
  color: white;
}

footer {
  margin-top: var(--margin-standard-size);
  padding-top: 70px;
  width: 100%;
  background-color: #333;
}
footer div.copyright {
  padding: 15px 0;
  background-color: #2d2d2d;
  text-align: center;
  color: grey;
}

.legend {
  border: 1px solid #ffac1e;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
  width: 300px;
  font-size: small;
}
.legend div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.legend-square {
  width: 1.5rem;
  height: 1rem;
}

/* ADMIN */

.dashboard-panel {
  border: 1px solid #ffac1e;
  border-radius: 1.2rem;
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: #fde8c4;
}
.dashboard-panel:first-child {
  margin: 1.5rem 0;
}
.dashboard-panel:nth-child(2) {
  margin: 3rem 0;
}

.dashboard-panel div {
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}
.dashboard-panel div div {
  width: 27.8%;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
}
.dashboard-panel div div a {
  color: #ffac1e;
}

.notification {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1.2rem;
}

.errors {
  background-color: #fcc;
}
.errors ul {
  margin-bottom: 0;
}

.success {
  background-color: #cfc;
}
